streamlit
pandas
llama_index
langchain_community
pdfplumber
PyPDF2
python-docx
matplotlib
git+https://github.com/jerryjliu/llama_index.git
git+https://github.com/langchain-ai/langchain-community.git
